.root {
    -fx-background-color: white;
}

#title {
    -fx-font-size: 16;
}

.button {
    -fx-background-color: #3983D9;
    -fx-background-radius: 8px;
    -fx-text-fill: white;
}

#cancel-button {
    -fx-background-color: #b4b4b4;
    -fx-text-fill: white;
}

#debug-button {
    -fx-background-color: #cecece;
    -fx-text-fill: #727272;
}

.text-field {
    -fx-background-radius: 8px;
    -fx-background-color: #e8e8e8;
    -fx-border-color: #d5d5d5;
    -fx-border-radius: 8px;
}

.text-field:focused {
    -fx-background-color: #e8e8e8;
}

.hyperlink {
    -fx-text-fill: #1f7ae5;
}

.hyperlink:visited {
    -fx-underline: false;
    -fx-border-color: transparent;
}

#infoToggle {
    -fx-background-color: transparent;
    -fx-graphic: url("icons/info_icon.png");
}

#infoToggle:selected {
    -fx-background-color: transparent;
    -fx-graphic: url("icons/info_icon_selected.png");
}

#passwordToggle {
    -fx-background-color: transparent;
    -fx-graphic: url("icons/icons8-eye-24.png");
}

#passwordToggle:selected {
    -fx-background-color: transparent;
    -fx-graphic: url("icons/icons8-closed-eye-24.png");
}

.info-label {
    -fx-text-fill: #757575;
}

#loginError {
    -fx-text-fill: #ad4c4c;
}