.root {
    -fx-background-color: white;
}

.button {
    -fx-background-color: #3983D9;
    -fx-background-radius: 8px;
    -fx-text-fill: white;
}

#logout-button {
    -fx-background-color: #b4b4b4;
}

#top-bar {
    -fx-background-color: #E8E8E8FF;
}

.scroll-pane {
    /*-fx-background-radius: 8px;*/
    /*-fx-background-insets: 0.0, 0.0, 0.0, 0.0;*/
}

.label {
    -fx-text-fill: #757575;
}

#view-title {
    -fx-text-fill: black;
    -fx-font-size: 26;
}

#title {
    -fx-text-fill: black;
    -fx-font-size: 18;
}