#login-title {
    -fx-font-size: 16;
}

.button {
    -fx-background-color: #3983D9;
    -fx-background-radius: 8px;
    -fx-text-fill: white;
}

#debug-button {
    -fx-background-color: #cecece;
    -fx-text-fill: #727272;
}

.text-field {
    -fx-background-radius: 8px;
    -fx-background-color: #DCDCDC;
    -fx-border-color: #c4c4c4;
    -fx-border-radius: 8px;
}

.text-field:focused {
    -fx-background-color: #DCDCDC;
}